﻿@{
    ViewBag.Title = "Accountant Activation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="well form-container col-sm-5 col-xm-7 screen login-screen">
        <form class="form">
            <div class="form-group">
                <label class="control-label" for="username"> Username </label>
                <div class="">
                    <input class="form-control username" type="text" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="password"> Password </label>
                <div class="">
                    <input class="form-control password" type="password" name="password" />
                </div>
            </div>
            <button type="button" class="btn btn-primary login"> Login </button>

        </form>
    </div>


    <div class="well form-container col-sm-5 col-xm-7 screen home-screen" style="display : none">
        <h1>Generate Keys </h1>
        <form class="form">

            <div class="form-group">
                <label class="control-label" for="count"> Count </label>
                <div class="">
                    <input class="form-control count" type="number" name="count" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="expiryPeriod"> Expiry Period (In Days) </label>
                <div class="">
                    <input class="form-control expiryPeriod" type="number" min="1" name="expiryPeriod" />
                </div>
            </div>

            @*<div class="form-group">
                <label class="control-label" for="LicenseType"> License Type </label>
                <div class="">

                    <select class="form-control licenseType" name="LicenseType">
                        <option value="0"> Pro </option>
                        <option value="1"> Normal </option>
                    </select>
                </div>
            </div>*@

            <button type="button" class="btn btn-primary keyGen"> Generate </button>

        </form>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {

           
            $(".login").click(function () {

                console.log($(".password").val());
                console.log($(".username").val());

                if ($(".password").val() == "" || $(".username").val() == "") {
                    $(".password , .username").parent().addClass("has-error");
                    return;
                }

                $.get('http://localhost/Web/user/login',
                    { UserName: $(".username").val(), Password: $(".password").val() }
                ).success(function (result) {
                    console.log(result);
                    if (result) {
                        showScreen(".home-screen");
                        $(".li-logout").show();
                    }
                });
            });

            $(".li-logout ").click(function () {

                $.get('http://localhost/Web/user/Logout').success(function (result) {
                    console.log(result);
                    showScreen(".login-screen");
                    $(".li-logout").hide();
                });
            });

            $(".keyGen").click(function () {

                console.log($(".count").val());
                console.log($(".expiryPeriod").val());
                console.log($(".licenseType").val());

                if ($(".count").val() == "" || $(".expiryPeriod").val() == "" || $(".licenseType").val() == "") {
                    $(".count , .expiryPeriod , .licenseType").parent().addClass("has-error");
                    return;
                }

                $.post('http://localhost/Web/Activation/GenerateKey',
                    {
                        Count: $(".count").val(),
                        ExpairyPeriod: $(".expiryPeriod").val(),
                        LicenceType: 1 //$(".licenseType").val(),
                    }
                ).success(function (result) {

                });
            });
        });

        function showScreen(screen) {
            $(screen + ' .form')[0].reset();
            $(".screen").hide();
            $(screen).show();
        }

    </script>

</div>