﻿@{
    ViewBag.Title = "Activation Key";
}

<div class="activationForm  well container col-sm-5 col-xm-7">
    <form class="form">

        <div class="form-group">
            <label for="key">Key</label>
            <input type="text" max="36" class="form-control key"/>
        </div>

        @*<div class="form-group">
                <label class="control-label" for="activationDate"> Activation Date </label>
                <input class="form-control activationDate" type="date"  name="username" readonly />
            </div>*@

        <div class="form-group">
            <label class="control-label" for="username"> Name </label>
            <input class="form-control username" type="text" name="username" />
        </div>

        <div class="form-group">
            <label class="control-label" for="email"> Email </label>
            <input class="form-control email" type="email" name="email" />
        </div>


        <div class="form-group">
            <label class="control-label" for="phone"> Phone </label>
            <input class="form-control phone" type="text" name="phone" />
        </div>

        <button type="button" class="btn activateKey"> Activate Key </button>

    </form>
</div>

<div class="result">
    <h1 class='result-text'> </h1>
</div>

<script>
    $(document).ready(function () {
      
        $(".activateKey").click(function () {
            if ($(".key").val() == "" || $(".username").val() == "" || $(".email").val() == "" || $(".phone").val() == ""){
                $(".key , .username , .email , .phone").parent().addClass("has-error");
                return; 
            }

            var ActivationData = {
                Key: $(".key").val(),

                Username: $(".username").val(),
                Email: $(".email").val(),
                phone: $(".phone").val(),

                ActivationDate: new Date(),
                MAC: "12121227700",
                IP: "172.16.33.21",
            };

            console.log(ActivationData);
      
            $.post('http://localhost/Web/Activation/Activate', ActivationData ).success(function (result) {
                   
                    if (result == true) {
                        console.log(result);
                        $(".result").show().addClass("text-success");
                        $(".result-text").text("Activation Success! ");
                        $(".form")[0].reset();
                    }
                    else {
                        console.log(result);
                        $(".result").show().addClass("text-danger");
                        $(".result-text").text("Activation Fail! ");
                    }

                });
        });

    });
</script>
