﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .form-container {
            margin: 10% auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          
        </div>
        <ul class="nav navbar-nav ">
            <li class="li-logout" style="display : none ;"><a href="javascript:void(0)">Logout</a></li>
        </ul>
    </nav>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        function getBaseUrl() {
            console.log(location);
            return location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '') + (location.pathname ? '' + location.pathname : '/')
        }
    </script>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
