﻿
@{
    ViewBag.Title = "ExternalTools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:white; height:100%;">
    <h2>ExternalTools</h2>
    <div>
        <button id="seedDataBtn" onclick="SeedData()">Seed Data</button>
    </div>
    <div>
        <button id="SeedTestUsers" onclick="SeedTestUsers()">Seed Test Users</button>
    </div>
</div>



<script type="text/javascript">
    //function SeedData() {
    //    $.get(getBaseUrl() + '../../../api/Users/SeedData').success(function (result) {
    //        alert('done');
    //    });
    //}

    //function SeedTestUsers() {
    //    $.get(getBaseUrl() + '../../../api/Users/SeedTestUsers').success(function (result) {
    //        alert('done');
    //    });
    //}


</script>

